<form class="game-header"
[formGroup]="form"
(ngSubmit)="submit()">
  <div class="input-block">
    <label for="timer-value">Enter the time to play
    <input id="timer-value" type="number"
           min="100"
           step="100"
           formControlName="delay"
           placeholder="Enter time"
    value="{{this.submit().delay}}"> ms
    <div class="validation"
    *ngIf="form.get('delay').invalid && form.get('delay').touched">
      <small *ngIf="form.get('delay').errors">Enter value more than 1</small>
    </div></label>
  </div>
  <button type="submit"
          [disabled]="theEnd || form.invalid || this.gameLogicService.stopArray.length > 0"
          (click)="startGameComponent()"
  >Start Game</button>

</form>
<div class="score">
  <p class="computer">Computer : {{scoreComp.length}}</p>
  <p class="player">Your score: {{scoreUser.length}}</p>
</div>
<div class="game-container">
  <div class="game-row" *ngFor="let row of rows">
    <div class="game-cell" *ngFor="let cell of cells"></div>
  </div>
  <div class="block" >
    <div class="item" *ngFor="let item of gameLogicService.items"
         [ngStyle]="getStyles(item)"
         (click)="clickThisItem(item)"
         ></div>
  </div>
</div>

<div class="overlay"
     *ngIf="theEnd"
>
  <div class="overlay-text"
  ><form
    [formGroup]="form"
    (ngSubmit)="submit()">
    <input id="timer-newGame" type="number"
           min="100"
           step="100"
           formControlName="delay"
           placeholder="Enter time"
           value="{{this.submit().delay}}">
    <p><span class="winner">{{winner}}</span> is winner</p>
    <button class="overlay-close" (click)="theEnd = !theEnd">x</button>
  </form>
  </div>
  <button class="overlay-btn"
  (click)="startGameComponent()">New game</button>
</div>
