<form class="game-header"
[formGroup]="form"
(ngSubmit)="submit()">
  <div class="input-block">
    <label for="timer-value">Enter the time to play</label>
    <input id="timer-value" type="number"
           step="100"
           formControlName="delay"
           placeholder="Enter time"> ms
  </div>
  <button type="submit"
          [disabled]="theEnd"
          (click)="startGameComponent()"
  >Start Game</button>

</form>
<div class="score">
  <p class="computer">Computer : {{scoreComp.length}}</p>
  <p class="player">Your score: {{scoreUser.length}}</p>
</div>
<div class="game-container">
  <div class="game-row" *ngFor="let row of rows">
    <div class="game-cell" *ngFor="let cell of cells"></div>
  </div>
  <div class="block" >
    <div class="item" *ngFor="let item of gameLogicService.items"
         [ngStyle]="getStyles(item)"
         (click)="clickThisItem(item)"
         ></div>
  </div>

</div>
<div class="overlay"
     *ngIf="theEnd"
>
  <p class="overlay-text"
  ><span class="winner">{{winner}}</span> is winner</p>
  <button class="overlay-btn"
  (click)="startGameComponent()">New game</button>
  <button class="overlay-close" (click)="theEnd = !theEnd">X</button>
</div>
